input[type=button]{
    width: 7rem;
    height: 8rem;
    font-size: 4rem;
    background-color: transparent;
}



table{
    margin: 0 auto; 
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}